body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body a {
  color: rgb(78, 78, 78);
  text-decoration: none;
}

/* General App */
.App-header a {
  color: #bbb;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  margin-top: -20px;
  padding-bottom: 5px;
}

.App-header img {
  max-width: 75px;
}

.location-header {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
  padding-top: 140px;
  text-transform: uppercase;
}

.App-header h2 {
  font-size: 20px;
  font-weight: 700;
}

.App-intro {
  font-size: large;
}

.mdl-cell a {
  font-size: 10px;
}

.sticky {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  padding: 5px 5px 0px 5px;
  background-color: #222;
  opacity: 0.8;
  border-radius: 2px;
}

.sticky a {
  color: rgb(170, 170, 170);
}

.sticky a:hover {
  opacity: 0.5;
}

#menu {
  background-color: #222;
  color: white;
  padding: 1px 20px;
  opacity: 0.8;
}

.sticky-menu {
  position: fixed;
  top: 0;
  opacity: 1 !important;
}

#menu a button {
  font-size: 11px;
  color: #aaa;
}

.mdl-cell a img {
  width: 100%;
  border-radius: 2px;
}

.mdl-cell a img:hover {
  border: 3px solid #44a9b8;
  margin: -3px;
}

.mdl-cell a span {
  font-size: 15px;
  display: block;
  font-weight: 700;
  margin-top: 10px;
}

/* Films */
.divider {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 22px;
  margin-bottom: -20px;
  margin-top: -10px;
}

.films-enter {
  opacity: 0.01;
}

.films-enter.films-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.films-leave {
  opacity: 1;
}

.films-leave.films-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.films-appear {
  opacity: 0.01;
}

.films-appear.films-appear-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}

@media (min-width: 840px) {
  #menu .mdl-cell--1-col {
    width: initial;
  }
}

@media (max-width: 839px) {
  #menu a button {
    font-size: 9px;
    color: #aaa;
    height: 18px;
    line-height: inherit;
  }
  #menu .mdl-grid {
    padding-top: 0;
  }
  #menu .mdl-cell {
    margin: 2px 0;
  }
  .location-header {
    padding-top: 100px;
  }
  #menu {
    padding: 0;
    width: 100%;
  }
}
