body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.location-header {
  margin-top: 40px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.App-header h2 {
  font-size: 20px;
  font-weight: 300;
}

.App-intro {
  font-size: large;
}

.mdl-cell a {
  font-size: 10px;
}

.mdl-cell a img {
  width: 100%;
}

.mdl-cell a img:hover {
  box-shadow: 2px 2px 2px #777;
}

.mdl-cell a span {
  font-size: 15px;
  display: block;
  font-weight: 700;
  margin-top: 10px;
}